<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (click)="open(content)">
        <p class="nav-link">Inscrições</p>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/list">Times</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cadastro de time</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="timeForm">

            <div class="registro">
              <label for="name">
                Nome do Time
              </label>
              <input id="name" class="form-control" type="text" formControlName="name" autofocus required>
            </div>
          
            <div class="registro">
              <label for="coach">
                Técnico
              </label>
              <input id="coach" class="form-control" type="text" formControlName="coach" required>
            </div>          
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Salvar</button>
    </div>
</ng-template>